*{
    margin: 0px;
    padding: 0px;
    background-color:#111827;
    color: #fff;
    box-sizing: border-box;
}
img:hover{
    cursor: pointer;
}
.nav{
margin: 27px;
}
.list{
    display: flex;
    gap: 20px;
 justify-content: right;
}
.list li{
    list-style: none;
}
.home{
    margin: -3px;
    background: rgba(100, 100, 224);
    border-radius: 15px;
    padding: 5px 10px;
}
.nav img{
    display: none;
    height: 30px;
}
section{
    margin-top: 30px;
}
.first{
    justify-content: center;
    gap: 20px;
    display: flex;
    max-width: 100vw;
}
.left img{
    height: 30px;
    width: 30px;
}
.left h1{
    font-size: 40px;
}
.left{
    margin-top: 90px;
}
.left h2{
    font-size: 28px;
    line-height: 40px;
display: inline;
}
#h2{
    color: rgba(197, 197, 89);
}
.right img{
    height: 400px;
    width: 400px;
}
.projects img{
height: 250px;
width: 250px;
}
.projects h2{
    font-size: 40px;
}
.horizontalline{
    height: 9px;
    width: 150px;
    border-radius: 30px;
    background-color: blue;
    margin-bottom: 20px;
}
.projects{
    margin-top: 70px;
    flex-direction: column;
    /* width: 70%; */
    display: flex;
justify-content: center;
align-items: center;
}
.boxes{ 
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
row-gap: 20px;
column-gap: 20px;

}
.socialmedia img{
height: 30px;
gap: 12px;
width: 30px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.socialmedia{
   margin: 27px;
}
.contact h2{
    font-size: 38px;
}
.box{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.contact .horizontalline{
    width: 205px;
}
@media screen and (max-width:576px){
    .list{
        display: none;
    }
    .nav img{
        position: relative;
        float: left;
        display: block;
    }
    .left{
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .first{
        box-sizing: border-box;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .right img {
        height: 250px;
        width: 60vw;
    }

    .boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .projects{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .boxes img{
    width: 55vw;
    height: 55vh;
  }
  .contact h2{
    font-size: 35px;
  }
  .projects h2{
    font-size: 35px;
  }
  .horizontalline{
    height: 6px;
    width: 130px;
    border-radius: 30px;
    background-color: blue;
    margin-bottom: 20px;
}
.contact .horizontalline{
    width: 190px;
    margin: 0px;
}
}

